.message{
    position: absolute;
    left: 50%;
    bottom: 50px;
    padding: 10px 20px;
    font-size: 5vmin;
    background-color: white;
    border-radius: 15px;

    
    // span{
    //     transform-origin: bottom;
    //     position: absolute;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     background-color: white;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     padding: 10px 20px;
    //     font-size: 25px;
    //     border-radius: 12vmin;
    //     // bottom: 50px;

    // }


}