.message{
    // width: 200px;
    // height: 200px;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 12vmin;
    bottom: 50px;
    

}