.table{
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    box-shadow: 0 0 20px 2px black;
}